<!DOCTYPE html>
<html>
    <head>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,600' rel='stylesheet' type='text/css'>
        <script>var Client = {};</script>
        {{#each style}}<link rel="stylesheet" href="{{ . }}" type="text/css">{{/each}}
        {{#each scripts}}<script src="{{ . }}"></script>{{/each}}        
    </head>
    <body>
        <div id="client"></div>
        <i class="spin"></i>
        <script> new Client.App({{{config}}}); </script>
        <script>
            var spinner = new Spinner({
                color: "#999",
                lines: 9, 
                length: 6,
                width: 4,
                radius: 9,
                corners: 1,
                rotate: 0,
                direction: 1,
                speed: 1,
                trail: 60
            }).spin();
            $("i.spin").append(spinner.el);
        </script>
    </body>
</html>